## Reporting: wragle_report

### Data Gathering

Data is gathered from 3 resources (from a csv file, using request library extracted tsv file,and imported another text file into the environment) are saved in 3 data frames.

Used pd.read_csv() to extract data from 'twitter-archive-enhanced.csv' and saved to  df1 

Downloaded 'image-predictions.tsv' programatically using requests library and loaded data to df2.

USed pd.read_json() to extract twitter data from 'tweet_json.txt' into data frame named df3.

### Assess Data

After visual and programmatic Assesment following are issues discovered:

#### Quality Issues:

1. Rating of denomenator should be standardized to 10.


2. We want only original ratings that have images hence we dont need data from retweet columns.


3. There are many missing values from the columns. Since they are insignificant to analysis they can be removed (in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id, retweeted_status_user_id ,retweeted_status_timestamp).


4. Change the erroneous data under column 'name'.


5. Remove duplicated images from jpg_url(df2).


6. Replace name of the column from text to tweet in df2.


7. Rename column of df3 id to tweet_id.


8. All the columns can be merged into single data frame(called data) for better analysis.

#### Tidiness Issues:

1.Create a colum Stage and delete doggo,floofer ,pupper,puppo.

2.Change timestamp to datetime in df1 and drop timestamp.

### Clean Data

Make copies of original pieces of data into df1_clean,df2_clean and df3_clean before you make any changes to data. We dont want to loose the original data hence the copies.

#### Define: Create a colum Stage and delete doggo,floofer ,pupper,puppo.

1.There was a sepearate column for all the stages of dog and are filled with lot of NONe values. Hence created one single column(stage) that reflects which stage the dog is in and delete the individual columns doggo,floofer ,pupper,puppo.

#### Define new columns for year,month and day and delete timestamp

Changed the data type for df1_clean['timestamp'] from object to datatime using pd.to_datetime() and extracted year, month and day to new columns called df1_clean['year'] , df1_clean['month'], df1_clean['weekday']

#### Define rating_denomenator should be standardized

rating_denomenator has values other than 10. Hence assigned all the values in column to 10

#### Define There are incorrect numerator values hence correct all values above 20

There are incorrect values for numerator.hence corrected them making sure the values are not beyond 20.

#### Define : We want only original ratings that have images hence we dont need data from retweet columns

Filtered out the rows which are empty in df[retweeted_status_user_id columns] .These are the original tweets.

Also deleted columns df[['retweeted_status_id','in_reply_to_status_id','in_reply_to_user_id','retweeted_status_user_id',
'retweeted_status_timestamp']] with lot of misssing values

#### Define Change column name text to tweet

Rename the column name from text to tweet using the method df1_clean.rename()

#### Define Erroneous data under column 'name'

There are lot of values in this column with values like 'a', and None. Used df1_clean.replace() to replace such values with np.nan. Also used str.capitalize() to make sure that all names start with capital letters.

#### Define Rename column names in df2

Used df1_rename(columns=) to rename columns p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3 ,p3_conf,p3_dog to 
'Breed_pred1','conf_for_pred1','isdog_pred1','Breed_pred2','conf_for_pred2','isdog_pred2','Breed_pred3','conf_for_pred3','isdog_pred3'

#### Define Remove duplicated images from jpg_url in df2

Remove duplicate images from column jpg_url using method drop_duplicates()

#### Rename column of df3 id to tweet_id

Rename column id to tweet_id in df3

#### Merge all dataframes

Merge all the dataframes into single master dataframe using pd.merge()

### Store Data

Store all the data to csv file using to_csv()